<!-- 
<head>
    <meta charset="UTF-8">
    <link href="styles/default.css" rel="stylesheet" type="text/css">
    <title>Nameless Genet Consulting LLC</title>
    <link rel="shortcut icon" type="image/png" href="images/uncc-logo.png">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
-->

<p>Created by Nameless Genet Consulting LLC</p>
<a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fngross0.github.io%2Fform.html#file">
    <img src="images/valid-html-button.png" width="88" height="31" alt="Link to HTML validator">
</a>
<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fngross0.github.io%2Fbrand-nameless-genet.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
    <img src="images/valid-css-button.png" width="88" height="31" alt="Link to CSS validator">
</a>