
<!-- 
<head>
    <meta charset="UTF-8">
    <link href="styles/default.css" rel="stylesheet" type="text/css">
    <title>Nameless Genet Consulting LLC</title>
    <link rel="shortcut icon" type="image/png" href="images/uncc-logo.png">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
-->

<h1 class="one">Nameless Genet Consulting LLC</h1>
<nav class="one">
    <a href="contact.html">Contact Us</a>
        <empty-tag class="nav-div"> || </empty-tag>
    <a href="services.html">Services</a>
</nav>
<figure class="two">
    <img src="images/genet-small.png" width="200px" height="193px" alt="Genet, Georg Volkens, 1897">
    <a href="https://openclipart.org/detail/223761/genet"><figcaption>Image Source</figcaption></a>
</figure>