/* Common */
body {
	font-family: Arial;
	color: #000000;
	background-color: #F3A957;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer {
	text-align: center;
    background-color: #FD9;
	color: #000000;
	font-weight: bold;
}
figcaption {
	font-size: 25px;
	font-weight: bold;
}
h1, h2, h3 {
	color: #000000;
	font-family: Arial;
	text-align: center;
}

nav {
	text-align: center;
    color: #000000;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: underline;
}

p {
    text-align: center;
}

.container {
    display: grid;
    grid-gap: 15px;
}

.one {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 2.5px dashed #cfcfcf;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.two {
    grid-column-start: 2;
    grid-column-end: 3;
    border: 2.5px dashed #cfcfcf;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.three {
    grid-column-start: 3;
    grid-column-end: 4;
    border: 2.5px dashed #cfcfcf;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.left {
    text-align: left;
}

.accordion {
	width: 700px;
	margin: auto;	

}
.accordion .ui-accordion-content {
	background-color: #FD9;
	color: black;

}
.accordion .ui-accordion-header {
	background-color: #FD9;
	color: black;	
	
}
.class {
	width: 340px;
	height: 220px;
	border: 2.5px dashed #cfcfcf;
}