body
{
	font-family: Arial;
	color: rgb(160, 160, 160);
	background-color: rgb(5, 36, 5);
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: rgb(160, 160, 160);
	font-weight: bold;
}

h1, h2, h3
{
	color: rgb(160, 160, 160);
	font-family: Arial;
	text-align: center;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: underline;
}

.inp {
    background-color:rgb(160, 160, 160);
}

.inp::placeholder {
    color: rgb(5, 36, 5);
}

.check {
    font-style: oblique;
}

.radio {
    font-style: oblique;
}

.selector {
    background-color: rgb(160, 160, 160);
}

.submit-button {
    font-family: Arial;
    background-color:rgb(160, 160, 160);
    color:rgb(5, 36, 5);
    width: 75px;
    height: 35px;
    font-weight: bold;
}

nav {
    text-align: center;
}