
/* got this from coolors.co - please improve!
 https://coolors.co/b5d6b2-53131e-5a464c-fffacc-ffefbd
*/

body
{
	font-family: Arial;
	color: rgb(138, 138, 138);
	background-color: rgb(7, 48, 7);
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: rgb(138, 138, 138);
	font-weight: bold;
}

h1, h2, h3
{
	color: rgb(138, 138, 138);
	font-family: Arial;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color: rgb(138, 138, 138);
}

a:hover
{
	text-decoration: underline;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
    color: rgb(138, 138, 138);
}
