body {
	font-family: Arial;
	color: rgb(160, 160, 160);
	background-color: rgb(5, 36, 5);
	margin-left: 75px;
	margin-right: 75px;
}

header, footer {
	text-align: center;
	color: rgb(160, 160, 160);
	font-weight: bold;
}

h1, h2, h3 {
	color: rgb(160, 160, 160);
	font-family: Arial;
	text-align: center;
}

nav {
    text-align: center;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: underline;
}

button {
    text-align: center;
    font-family: Arial;
    background-color:rgb(160, 160, 160);
    color:rgb(5, 36, 5);
    width: 150px;
    height: 45px;
    font-weight: bold;
}

form {
    text-align: center;
    align-self: center;
}